.contenido {
    
   
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.produc {
    position: relative;
    display: flex;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 35rem;
    float: left;
    text-align: center;
    border: 2px solid rgb(146, 143, 143); 
    background-color: #b1b4b4;
}

.produc h5 {
    color: rgb(87, 87, 87);

}

.produc img {
    height: 17rem;
    width: 17rem;
}

.produc img:hover {
    border: 2px solid rgb(62, 20, 211);
}

.cardsRenglon {
    display: flex;
    justify-content: center;
    align-content: center;
}

.nombre{
    text-align: center;
    background-color: #FFFFFF;
    color: rgb(0, 0, 0); 
}

.barra{
    margin-left: 60rem;
    margin-top: 1rem;
}

.barra img{
    width: 2rem;
    height: 2rem;
}

#busqueda{
    width: 16rem;
}

.separar{
    padding: 10px 10px !important;
}

.card{
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    box-shadow: 5px 5px 5px 0 grey;
}
