body {
    background-color: #e0dfdf;
    width: 100%;
    height: 100%;
    margin: 0;
}
a{
    text-decoration: none;
}
.color-nav{
    background-color: #04A9B4;
}
.color-link-black{
    color: black !important;
}
.color-text a:visited, a:active, a:link{
    color: black;
}
.color-link-black:hover{
    font-weight: 500 !important;
}
.negritas{
    font-weight: bold;
}
.formato-section{
   /* background: rgb(222, 220, 215);
    background: linear-gradient(90deg, rgba(199,142,44,1) 0%, rgba(212,148,66,1) 54%, rgba(241,194,116,1) 100%);*/
    background-color: azure;
    padding: 45px;
    text-align: justify;
}
.formato-offcanvas{
    width: 35%;
    background-color: grey;
}
.formato-ini{
    background-color: rgb(179, 179, 179);
    margin-top: 20%;
    border: 2px solid rgb(179, 179, 179);
    border-radius: 10px;
    padding: 30px 15px;
}
.PiePag{
    background-color: gray;
}
.color-letra-PiePag{
    padding: 15px 0;
    color: white !important;
}
.color-letra-PiePag a:visited,.color-letra-PiePag a:active,.color-letra-PiePag a:link{
    color: white !important;
}
.border-r{
    border-right: 1px solid black;
}
.ver-border{
    border: 2px solid black;
}
.centrar-vertical{
    display: flex;
    align-items: center;
}


.contenidos_letra{
    font-size: 20px;
}
.logoV{
    height: 200px;
    width: auto;
    border-radius: 15%;
    border: solid black 1px;
    padding: 0;
}
.carruselV{
    padding: 20px;
}