/* Lista contactos */

.contactos {
    position: relative;
    width: 20%;
    height: 90%;
    margin-left: 0;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #71a2a5;
    border-radius: 6px;
    overflow: auto;
}

.contactos button{
    position: relative;
    background-color: #04A9B4;
    width: 100%;
    border: none;
    margin-top: 3%;    
    border: 2px solid white;
    border-radius: 100px;    
    padding-left: 0;
}

.btnContacto:hover{
    background-color: #257EB2;
}

.contacto{
    position: relative;    
    display: flex;    
    align-items: center;
    width: 100%;
    height: 15%;
    top: 2%;
}

.imagenPerfil{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: 0;
}

#mensajeSinLeer{
    margin: 0;
    color: red;
    font-weight: bold;
    font-size: 20px;
}

#sinMensajes{
    margin: 0;
    color: red;
    font-weight: bold;
    font-size: 5px;
}



.imagenPerfil i{
    font-size: 60px;    
    color: white;
    width: auto;
}

.nombrePerfil{
    display: block;
    width: 70%;    
}

.nombrePerfil p{
    font-size: x-large;    
    color: white;
}

/* Conversacion */

.conversacionContacto{
    position: relative;
    width: 78%;
    height: 90%;
    margin-top: 1%;
    /* left: 23%; */
    /* top: px; */
}

.nombreContacto{
    position: relative;
    background-color: #04A9B4;
    height: 62px;
}

.nombreContacto button{
    position: relative;
    width: 100%;
    background-color: #04A9B4;
    border: none;
    display: flex;
    align-items: center;
}

.imagenPerfilConversacion{
    position: relative;
    height: 100%;
    width: 7%;
    color: white;
}

.imagenPerfilConversacion i{
    font-size: 48px;
}

.nombrePerfilConversacion {
    position: relative;
    width: 80%;
    left: 5%;
    color: white;
    text-align: center;
}

.nombrePerfilConversacion p{
    font-size: 20px;
}

.mensajesContacto{
    position: relative;
    overflow: auto;
    height: 415px;
}

/* form enviar mensaje */

.formMensaje{
    height: 50px;
}

.enviarMensajeContacto{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mensajeContacto{
    resize: none;
    width: 90%;
}

#btnEnviarMensajeContacto {
    display: flex;
    justify-content: center;
    width: 4%;
    height: 50%;
    border: 1px solid gray;
    border-radius: 5px;
    background: white;
}

#btnEnviarMensajeContacto i {
    font-size: 200%;
}

/* Formato mensajes */

#remitente {
    position: relative;
    background-color: #0eb9ff;
    border: 5px solid #0eb9ff;
    color: white;
    border-radius: 15px;
    width: 50%;
    font-size: large;
    margin-left: auto;
}

#destinatario {
    position: relative;
    background-color: #358f80;
    border: 5px solid #358f80;
    color: white;
    border-radius: 15px;
    width: 50%;
    font-size: large;
    margin-right: auto;
}