.informacion { 
    background-color: #FFFFFF;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: large;
    border: 2px solid rgba(146, 143, 143, 0.425); 
}



.btn1 {
   
    height: auto;
    margin-bottom: 2rem;
   
}

.btn1 input {
    font-size: x-large;
    padding: 0 50px 0 50px;
} 

#btn1 input {
    padding: 0 47px 0 47px;
} 

#btn2 input {
    margin-top: 10px;
} 