
.informacion { 
    background-color: #A8C7CA;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    font-size: x-large;
    border: 2px solid rgb(146, 143, 143); 
    justify-content: center;
    align-items: center;
    width: 90%;
}

.btn1 {
   
    height: auto;
    margin-bottom: 2rem;
   
}

.btn1 input {
    font-size: x-large;
    margin-left: 10px;
} 

input[type=checkbox] {
    transform: scale(1.4);
}