.informacion {
    background-color: #ffffff;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.informacionMascota {
    background-color: #ffffff;
    margin-top: 2rem;
    margin-bottom: 3rem;

}

.imagenMascota{
    height: 200;
    width: 100;
}

.cardMascota {
    margin-top: 5%;
    height: 95%;
}

.cardMascota p {
    font-size: 100%;
}

.btn1 {
    height: auto;
    margin-bottom: 2rem;
}

.btn1 input {
    font-size: x-large;
    margin-left: 10px;
}

.btn1 a {
    font-size: x-large;
}

input[type=checkbox] {
    transform: scale(1.4);
}

#exampleModalLabel2 {
    text-align: justify;
}

#exampleModalLabel {
    text-align: justify;
}

@media only screen and (max-width: 991px) {
    .informacionMascota {
        margin-left: 2rem;
        width: 90%; 
        margin-top: 0;       
    }
    .informacion{
        margin-bottom: 0;
        width: 90%;        
        border-right: none;
    }
    .cardMascota{
        margin-top: 1%;
        height: 97%;
    }
    .cardMascota p {
        font-size: larger;
    }
    .imagenMascota{
        height: 50;
        width: 50;
    }
}

@media only screen and (max-width: 575px) {
    .campo{
        width: 50%;        
    }
    .campo2{
        width: 50%;
    }
}